.blog-content {
  @include center(980px, 85px auto 0 auto);
  height: 1060px;

  h1 {
    width: 106px;
    height: 40px;
    font-family: $font-one;
    font-size: 30px;
    border-bottom: solid 2px $black;
  }

  .blog {
    height: 375px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;

    .date {
      height: 60px;
      width: 60px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .june {
      background-image: url(../assets/icons/datejune.png);
    }

    .july {
      background-image: url(../assets/icons/datejuly.png);
    }

    .blog-info {
      width: 900px;
      min-height: 259px;
      display: block;
      padding-right: 10px;
    }

    .blog-image {
      max-width: 900px;
      height: 259px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../assets/images/blog.jpg);
    }

    .blog-text {
      width: 364px;
      min-height: 99px;
      padding-top: 20px;

      h5 {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 15px;
        opacity: 0.6;
      }

      p {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-size: 13px;
        color: $blue;
      }
    }
  }
}
