* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: solid purple 5px;
}

html,
body {
  height: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

// ===========FONTS===============//

@font-face {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  src: url(fonts/GillSans.ttf);
}

@font-face {
  font-family: ProximaNova;
  src: url(fonts/Proxima-Nova-Thinone.otf);
}

@font-face {
  font-family: Proxima;
  src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
// =========Couldn't get Gill Italic to work======//

@font-face {
  font-family: Lato;
  src: url(fonts/Lato/Lato-lightItalic.ttf);
}
