.about-content {
  max-width: 980px;
  min-height: 200px;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 230px;

  .about-text {
    min-height: 200px;
    max-width: 980px;
  }

  h1 {
    width: 150px;
    height: 60px;
    font-family: ProximaNova;
    font-size: 40px;
    border-bottom: solid $black 2px;
  }

  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1.6px;
  }

  //   =====CLIENT QUOTES SECTION=========//

  .client-content {
    min-height: 200px;
    max-width: 900px;
    margin-top: 101px;
    margin-bottom: 360px;

    h3 {
      width: 240px;
      height: 35px;
      font-family: ProximaNova;
      font-size: 30px;
      border-bottom: solid $black 2px;
    }

    .client-one {
      min-height: 150px;
      max-width: 800px;
      display: flex;

      .client-image {
        width: 260px;
        height: 150px;
      }

      .client1 {
        background-image: url(../assets/images/about-client-01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .client-quote {
        width: 416px;
        min-height: 150px;
        padding-left: 20px;
        position: relative;

        p {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-size: 15px;
        }

        p:last-of-type {
          margin-bottom: 55px;
        }

        .client-name {
          position: absolute;
          right: 0;
          bottom: 0;
          font-family: $font-one;
          color: $blue;
          font-size: 20px;
        }
      }
    }

    .client-two {
      min-height: 150px;
      max-width: 800px;
      display: flex;
      margin-top: 37px;
      padding-bottom: 50px;

      .client-image {
        width: 260px;
        height: 150px;
      }

      .client2 {
        background-image: url(../assets/images/about-client-02.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }

      .client-quote {
        width: 416px;
        min-height: 150px;
        padding-left: 20px;
        position: relative;

        p {
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          font-size: 15px;
        }

        p:last-of-type {
          margin-bottom: 55px;
        }

        .client-name {
          position: absolute;
          right: 0;
          bottom: 0;
          font-family: $font-one;
          color: $blue;
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about-content {
    padding: 20px;
    display: block;
    // margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    margin-bottom: 50px;
    flex-direction: column;

    .client-content {
      padding: 20px;
      display: block;
      // margin-left: 15px;
      margin-right: 15px;
      margin: 0 auto;

      .client-one {
        display: block;
        // padding-left: 20px;
      }

      .client-quote {
        width: 300px;
        margin-top: 25px;
        text-align: left;
      }
      .client-two {
        display: block;
        // padding-left: 20px;
      }
    }
  }
}
